<div class="pagination">
    <div class="step-links">
        {% for page_number in products.paginator.page_range %}
            {% if products.number == page_number %}
                <a href="{% url 'catalog' %}?page={{ page_number }}" class="page__link page__link--active">
                    <p class="page__item">
                        {{ page_number }}
                    </p>
                </a>
            {% elif page_number > products.number|add:-3 and page_number < products.number|add:3 %}
                <a href="{% url 'catalog' %}?page={{ page_number }}" class="page__link">
                    <p class="page__item">
                        {{ page_number }}
                    </p>
                </a>
            {% endif %}
        {% endfor %}
    </div>
</div>