{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:700&display=swap" rel="stylesheet">
    <title>
        {% block title %}Главная{% endblock %}
    </title>

    <!-- Bootstrap core CSS -->
    {#    <link href="{% static 'bs/css/bootstrap.css' %}" rel="stylesheet">#}

    <link href="{% static 'css/1.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
<div class="big-wrapper">
    <header class="top-header">
        <section class="top">
            <img class="logo" src="{% static 'store_app/1.svg' %}" alt="" width="20px" height="20px">
        </section>
    </header>
</div>
<div class="big-wrapper-2">
    <div class="top-header">
        <nav class="main-nav">
            <ul class="main-nav__list">
                <li class="main-nav__item">
                    <a href="#" class="main-nav__link"><b>О нас</b></a>
                </li>
                <li class="main-nav__item">
                    <a href="#" class="main-nav__link"><b>Новости</b></a>
                </li>
                <li class="main-nav__item">
                    <a href="#" class="main-nav__link"><b>Акции</b></a>
                </li>
                <li class="main-nav__item">
                    <a href="#" class="main-nav__link"><b>Продукты</b></a>
                </li>
                <li class="main-nav__item">
                    <a href="#" class="main-nav__link"><b>Статьи</b></a>
                </li>
                <li class="main-nav__item">
                    <a href="#" class="main-nav__link"><b>Доставка и оплата</b></a>
                </li>
                <li class="main-nav__item">
                    <a href="#" class="main-nav__link"><b>Контакты</b></a>
                </li>
            </ul>
        </nav>
    </div>
</div>


<main class="page-main">
        {% block content %}

        {% endblock %}
</main>
</body>