{% extends 'store_app/base1.html' %}
{% load static %}

{% block title %}
{% endblock %}

{% block content %}
    <div class="">
        <h2>Корзина</h2>
        <table>
            <tr>
                <th>Товар</th>
                <th>Количество</th>
                <th>Цена</th>
            </tr>
            {% for item in cart.items.all %}
                <tr id="{{ item.product.slug }}">
                    <td>{{ item.product.name }}</td>
                    <td>
                        <form action="" method="GET">
                            <input type="number" name="quantity" class="cart-item-quantity" data-id="{{ item.id }}" value="{{ item.quantity }}" min="1">
                        </form>
                    </td>
                    <td id="cart-item-total-{{ item.id }}">{{ item.item_total }} руб.</td>
                    <td><a class="remove_from_cart" data-slug="{{ item.product.slug }}" href="">Удалить из корзины</a></td>
                </tr>
            {% endfor %}
            <tr>

            </tr>
        </table>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'javascript/js.js' %}"></script>
{% endblock %}