@import url('base.css');
@import url('header.css');
@import url('popup_login.css');
@import url('index_page.css');
@import url('slider.css');
@import url('side_bar.css');
@import url('cart.css');


html {
    background-color: #ffffff;
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

.visually-hidden {
    font-size: 0;
    clip: rect(0, 0, 0, 0);
}

.page-main {
    width: 960px;
    margin: 50px auto 0;
    display: flex;
    justify-content: space-between;
}

.content-wrapper {
    width: 960px;
    margin: 20px auto 0;
}

.catalog-wrapper {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.product {
    padding: 17px 20px 19px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: column;
    width: 180px;
    min-height: 350px;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    margin-bottom: 20px;
}

.product:hover {
    box-shadow: 0 2px 15px 0 rgba(0,0,0,.15);
}

.product__image {
    display: block;
    width: 180px;
    height: 180px;
}

.product__rating {
    height: 20px;
}

.product__title {
    color: #444;
    height: 50px;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

.product__title-link {
    color: inherit;
    height: 100%;
    display: block;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
}

.product__title-link:hover {
    color: #ff452a;
}

.product__price {
    font-family: 'Open Sans', sans-serif;
    height: 50px;
    overflow: hidden;
}

.add-to-cart-button {
    display: table;
    width: 100%;
}

.add-to-cart, .add-to-cart--added {
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    border-radius: 5px;
    background-color: #7ac143;
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    height: 45px;
    display: table-cell;
    color: #fff;
    border: 0;
    cursor: pointer;
}

.add-to-cart:hover, .add-to-cart--added:hover {
    background-color: #008b44;
}

.add-to-cart:active, .add-to-cart--added:active {
    border: 0;
    background-color: #008b44;
}


.product-card {
    display: flex;
    width: 1000px;
    min-height: 300px;
    background-color: #1e7e34;
}

.product-gallery__image {
    width: 440px;
    height: 440px;
}


.product-card__title {
    margin: 20px;
}

.product-buy {
    display: flex;
    justify-content: space-around;
}

.product-buy__price {
    font-weight: bold;
    font-size: 25px;
    font-family: 'PT Sans', sans-serif;
}

.product-card__buy-button {
    width:180px;
    border-radius: 5px;
    background-color: #7ac143;
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    height: 45px;
    display: block;
    color: #fff;
    border: 0;
}
